body{
    background-image: linear-gradient(white,deepskyblue, deepskyblue, deepskyblue, deepskyblue,white );

    /* Obligatoire si on veut "voir" le dégradé */
    background-attachment: fixed;
    font-family: sans-serif;
    color: aliceblue;
    border: none;
    
}
#robert{
	height: 100px;
}
.robert_deçu{
	height: 50px;
}
#robert_content{
	height: 50px;
}
.bloc{
	/*background-color: #fff0f0; */
	margin: 10px;
    border: none;
}
#conteneur1{
	border: 5px white solid;
	display: flex;
	justify-content: space-around;
	width: 80%;
	margin: auto;
	margin-top: 10%;
    border: none;
}
#conteneur2{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
    width: 60%;
}
#conteneur3{
    width: 40%;
    height: 300px;
    overflow: auto;
}
#bloc1_c2{
	text-align:center;
    border: 5px white outset;
    border-radius: 5px;
    background-color: orange;
}
#bloc2_c2{
	display: flex;
    border: 3px white outset;
    border-radius: 5px;
	
}
#bloc3_c2{
	
}
#bloc1_c3{
	display: flex;
    border: 3px white outset;
    border-radius: 5px;
}
#bloc2_c3{
	display: flex;
    
}
#bloc3_c3{
	display: flex;
}

h1
{
    color: white;
    font-family : inherit;
}
nav h1{
	color: black;
}